<!DOCTYPE html>
<html>
<head>
  <title>Heapoverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Heapoverflow</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li>
                  <%= link_to 'Sign out', destroy_user_session_url, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign in', new_user_session_url %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_url %>
                </li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <div class="col-sm-8 col-sm-offset-2 centered">
      <div class="row">
        <% if notice %>
          <div class="alert alert-success notice" role="alert"><%= notice %></div>
        <% elsif alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
